.services-page {
  margin: 1rem auto;

  .super-body.section-margin {
      margin: 6rem 0 3rem;
  }

  .section-margin {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  strong, b {
      color: $primary;
  }

  h2 {
    font-family: $avBlack;
    font-size: 2.25rem;
    color: #4c4c4c;
  }

  // ********** Super Body **********
  .super-body {
      font-family: $poppins;
      font-size: 1.1rem;
      line-height: 2rem;
      font-weight: 300;
      border-top: 1px solid $mediumGrey;
      border-bottom: 1px solid $mediumGrey;
      padding: 4rem 0;

      strong, b {
          font-family: $poppins;
          font-weight: 500;
          color: $darkGrey !important;
      }
  }

  // ********** Service **********
  .service-title {
      h2 {
          font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
          font-weight: 600;
          font-size: 1.25rem;
          color: #4c4c4c;
          text-transform: uppercase;
          margin: 4rem 0 4rem;
      }
  }

  .service {
      background: #eae9e1;
      position: relative;
      border-top-left-radius: 5.625rem;
      border-bottom-left-radius: 5.625rem;
      padding: 2rem;
      z-index: 1;
      h3 {
          font-family: $poppins;
          font-size: 1.25rem;
          font-weight: 300;
          line-height: normal;
          color: $darkGrey;
      }
      .service-extension {
          background: $lightGreige;
          position:absolute;
          top:0;
          left:100%;
          width:100%;
          height:100%;
          z-index:100;
      }
  }
  .super-body-service {
      font-family: $poppins;
      font-size: 1.25rem;
      line-height: 2.5rem;
      font-weight: 300;
      padding: 0 0 4rem;

      strong, b {
          font-family: $poppins;
          font-weight: 500;
          color: $darkGrey !important;
      }
  }

  .capabilities {
    h3 {
      font-family: $avBlack;
      font-size: 1.25rem;
      color: $primaryBlue;
      padding: .4rem 0;
      a {
        color: $primaryBlue;
      }
      :hover {
        color: $primary;
      }
    }
    h4 {
      font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 600;
      font-size: 1.25rem!important;
      color: #4c4c4c;
      text-transform: uppercase;
      margin-bottom: 1rem;
      line-height: 2.4rem;
    }
    .description {
      font-family: $avLight;
      font-size: 1.25rem;
      line-height: 2.4rem;
      padding: 0 4rem;
    }
  }
 
  .partners-title {
    h2 {
      font-family: Poppins,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 600;
      font-size: 1.25rem;
      color: #4c4c4c;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
  }
  .partner-logo {
    img {
      width:80%
    }  
  }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .service-title {
      h2 {
        margin: 2rem 0 2rem;
        padding-left: 1.5rem!important;
      }
    } 
    .service-card {
      h2 {
        position: relative;
        float: right;
        right: 2rem;
        font-size: 1.875rem;
      }
    }
    .service-card {
      margin: 0 0 10rem;
      
      &.strategy {
        img {
          position: absolute;
          top: -5rem;
          left: 3em;
          width: 150px;
        }
      }
      &.transformation {
        img {
          position: absolute;
          top: -6rem;
          left: 3em;
          width: 150px;
        }
      }
      &.software {
        img {
          position: absolute;
          top: -6rem;
          left: 3em;
          width: 150px;
        }
      }
      &.data {
        img {
          position: absolute;
          top: -12rem;
          left: 3em;
          width: 150px;
        }
      }   
    }
    .service {
      border-radius: 0px!important;
      h3 {
        padding: 6rem 2rem 2rem ; 
      }
    }
    .capabilities {
      .description {
        padding: 0rem 2rem 2rem;
      }
      .capability-types {
        padding: 0 2rem 2rem;
      }
    }
    

  }
    

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {}

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {}

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {}


  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {}

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .service-card {
      margin: 0 0 10rem;
      
      &.strategy {
        img {
          position: absolute;
          bottom: 3.3em;
          left: 6em;
          width: 150px;
        }
      }
      &.transformation {
        img {
          position: absolute;
          bottom: 8em;
          left: 6em;
          width: 155px;
        }
      }
      &.software {
        img {
          position: absolute;
          bottom: 4.3em;
          left: 6em;
          width: 140px;
        }
      }
      &.data {
        img {
          position: absolute;
          bottom: 0em;
          left: 6em;
          width: 120px;
        }
      }   
    }
    .service-card {
      h2 {
       // padding-left: 2rem;
      }
    }
    .service {
      h3 {
       // padding-left: 2rem; 
      }
    }

  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .service-card {
      margin: 0 0 10rem;
      
      &.strategy {
        img {
          position: absolute;
          bottom: 3.3em;
          left: 6em;
          width: 180px;
        }
      }
      &.transformation {
        img {
          position: absolute;
          bottom: 8.3em;
          left: 6em;
          width: 200px;
        }
      }
      &.software {
        img {
          position: absolute;
          bottom: 4.3em;
          left: 6em;
          width: 180px;
        }
      }
      &.data {
        img {
          position: absolute;
          bottom: 0em;
          left: 6em;
          width: 130px;
        }
      }   
    }
    .service-card {
      h2 {
       // padding-left: 1rem;
      }
    }
    .service {
      h3 {
       // padding-left: 1rem; 
      }
    }

  }


}